doctype html
html(lang='en')
  head
    title #{title}
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='../assets/images/iglesiacemf-128x128-1.png')
    // ===============================================================================================
    link(rel='stylesheet ', type='text/css ', href='../vendor/bootstrap/css/bootstrap.min.css ')
    // ===============================================================================================
    link(rel='stylesheet ', type='text/css ', href='../fonts/font-awesome-4.7.0/css/font-awesome.min.css ')
    // ===============================================================================================
    link(rel='stylesheet ', type='text/css ', href='../fonts/iconic/css/material-design-iconic-font.min.css ')
    // ===============================================================================================
    link(rel='stylesheet ', type='text/css ', href='../vendor/animate/animate.css ')
    // ===============================================================================================
    link(rel='stylesheet ', type='text/css ', href='../vendor/css-hamburgers/hamburgers.min.css ')
    // ===============================================================================================
    link(rel='stylesheet ', type='text/css ', href='../vendor/animsition/css/animsition.min.css ')
    // ===============================================================================================
    link(rel='stylesheet ', type='text/css ', href='../vendor/select2/select2.min.css ')
    // ===============================================================================================
    link(rel='stylesheet ', type='text/css ', href='../vendor/daterangepicker/daterangepicker.css ')
    // ===============================================================================================
    link(rel='stylesheet ', type='text/css ', href='../css/lutil.css ')
    link(rel='stylesheet ', type='text/css ', href='../css/lmain.css ')
    // ===============================================================================================
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js ')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js ')
    // Compiled and minified JavaScript
    script.
      $(document).ready(function() {
      $("#clase").hide();
      $("#type")
      .change(function() {
      var str = "";
      $("#type option:selected").each(function() {
      str += $(this).text();
      });
      if(str === "Maestro") {
      $("#clase").show();
      console.log("entre al if")
      } else {
        $("#clase").hide();
      }
      })
      
      .change();
      });
     
  body
    .limiter
      .container-login100
        .wrap-login100.p-t-85.p-b-20
          form#formReg.login100-form.validate-form(action='/m/registro', method='post')
            span.login100-form-title.p-b-70
              | Registrar Nuevo Usuario
            span.login100-form-avatar
              img(src='../assets/images/iglesiacemf.jpg ', alt='AVATAR ')
            .wrap-input100.validate-input.m-t-85.m-b-35(data-validate='Escribe su usuario ')
              input.input100(type='text ', name='username')
              span.focus-input100(data-placeholder='Usuario ')
            .wrap-input100.validate-input.m-t-85.m-b-35(data-validate='Escribe su nombre ')
              input.input100(type='text ', name='name')
              span.focus-input100(data-placeholder='Nombre ')
            .wrap-input100.validate-input.m-b-85(data-validate='Escribe su contraseña ')
              input.input100(type='password', name='password')
              span.focus-input100(data-placeholder='Contraseña ')
            .wrap-input100.validate-input.m-t-85.m-b-35(data-validate='Escribe su titulo ')
              input.input100(type='text ', name='title')
              span.focus-input100(data-placeholder='Titulo ')
            select#type.form-control(name='type')
              option(value='', disabled='', selected='') ¿Rol?
              option(value='Maestro') Maestro
              option(value='Directiva') Directiva
              option(value='Admin') Admin
            br
            select#clase.form-control(name="clase")
              option(value='Angelitos') Angelitos
              option(value='Estrellitas') Estrellitas
              option(value='Soldaditos') Soldaditos
              option(value='Amigos') Amigos
              option(value='Hijos del Rey') Hijos del Rey
              option(value='Siervos') Siervos
              option(value='Seguidores') Seguidores
              option(value='Jovenes') Jovenes
              option(value='Pre-Baustimal') Pre-Baustimal
              option(value='Post-Bautismal') Post-Bautismal'
              option(value='Lideres') Lideres
            br
            .container-login100-form-btn
              button.login100-form-btn(type='submit', form='formReg')
                | Registrar
            ul.login-more.p-t-190
              li.m-b-8
                span.txt1
                  | ¿Olvido su 
                a.txt2(href='# ')
                  | Usuario / Contraseña?
    #dropDownSelect1 
    // ===============================================================================================
    script(src='../vendor/jquery/jquery-3.2.1.min.js ')
    // ===============================================================================================
    script(src='../vendor/animsition/js/animsition.min.js ')
    // ===============================================================================================
    script(src='../vendor/bootstrap/js/popper.js ')
    script(src='../vendor/bootstrap/js/bootstrap.min.js ')
    // ===============================================================================================
    script(src='../vendor/select2/select2.min.js ')
    // ===============================================================================================
    script(src='../vendor/daterangepicker/moment.min.js ')
    script(src='../vendor/daterangepicker/daterangepicker.js ')
    // ===============================================================================================
    script(src='../vendor/countdowntime/countdowntime.js ')
    // ===============================================================================================
    script(src='../js/main.js ')
